.navbar {
  margin-top: 1px;
  margin-left: 2px;
  margin-right: 2px;
  max-width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  
 
}

.navbar-img {
  height: 130%;
  width: 8%;
  cursor: pointer;
}

.navbar-img-logo {
  width: 100%;
  height: 100%;
}

.navbar-username {
  width: 10%;
  margin-left: 20px;
  padding-left: 10px;
  font-size: 1rem;
}

.navbar-searchbox {
  width: 50%;
  text-align: center;
  margin: auto;
}

.navbar-searchbox-input {
  width: 65%;
  height: 2.5rem;
  border: 1px solid #e00;
  outline: none;
  padding: 12px 16px;
  font-size: 1.2rem;
  border-radius: 1px;
  margin-left: 15%;
}

.navbar-searchbox-button {
  font-weight: bold;
  border: 1px solid #e00;
  outline: none;
  margin-left: 2%;
  --pfe-button--BackgroundColor:#e00;
  --pfe-button--Color:#fff;
  --pfe-button--BorderColor:#020101;
  --pfe-button--BackgroundColor--hover:#e00;
  --pfe-button--BorderRadius:2px;
}

.navbar-select {
  margin: auto;
  width: 12%;
  cursor: pointer;
  margin-right: 3%;
  color:white;

 
}
.pfe-select{
  --pfe-select--BorderColor:#e00;
  --pfe-select--BorderBottomColor:#e00;
  --pfe-select--BorderBottomColor--hover:#e00;
  
  
}

.pfe-select > select {
  width: 100%;
  outline:none;
  
 
  
  cursor: pointer;
 
  
}

.pfe-options {
  width:100%;
  font-size:1rem;
  --pfe-select--BackgroundColor:#fff;
 

  
}


.navbar-order {
  --pfe-button--BackgroundColor:#e00;
  --pfe-button--Color:#fff;
  --pfe-button--BorderColor:#020101;
  --pfe-button--BackgroundColor--hover:#e00;
  --pfe-button--BorderRadius:2px;
  margin-right: 2%;
}


.navbar-cart {
  cursor: pointer;
  margin: auto; 
  position:relative; 
  
 
}

.navbar-cart-icon{
  --pfe-icon--color:#e00;
}

.navbar-cart-badge {
  position: absolute;
 right:1px;
 
  
}
